[project]
name = "benchmark"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "aiohttp>=3.13.2",
    "dotenv>=0.9.9",
    "google-genai>=1.56.0",
    "openai>=2.14.0",
]
